:root {
    --color-white: #fff;
    --color-dark1: white;
    --color-dark2: #415aca;
    --color-purple1: #ECBF31;
    --color-purple2: #38B6FF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.content {
    background-color: var(--color-dark2);
    padding: 2rem;
    border-radius: 10px;
    min-width: 30%;
    overflow: auto;
    height: 100%;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.span-required {
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--color-white);
    display: none;
}

.inputs {
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-dark1);
    border: 2px solid var(--color-dark1);
    color: black;
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}

.inputs:focus {
    border-color: var(--color-purple1);
}

.box-select {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    gap: 2rem;
    color: var(--color-white);
}

button[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: var(--color-purple2);
    color: var(--color-white);
    cursor: pointer;
    transition: .3s;
}

button[type="submit"]:hover {
    background-color: var(--color-purple1);
}

.p {
    color: var(--color-white);
}





@media screen and (max-width: 576px) {
    .box-select {
        flex-direction: column;
        gap: 5px;
    }
}