@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color:#FFFFFF ;
}

/* Menu normal */
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgb(150, 150, 248);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #415aca;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

/* Fim menu normal */



/* Corpo do site(boas-vindas) */
.space {
  padding: 30px;
}

.h1 {
  margin: 15px;
  color: black;
  text-align: left;
}

.text {
  text-align: left;
  color: #7B7B7B;
  font-size: larger;
}

/* Fim corpo do site(boas-vindas) */

/* Imagens */
.img_responsive {
  width: 100%;
  text-align: center;
}
/* Imagens fim */



/* NOTICIAS */
.spacenoticias {
  padding: 10px;
}

.h1noticias {
  color: black;
  text-align: left;
}

.txtnoticias {
  color: #7B7B7B;
  text-align: left;
}

li {
  text-align: left;
  color: #7B7B7B;
}

/* FIM NOTICIAS */



/* Footer */
footer {
  background-color: #415aca;
  padding: 50px 0;
}

.container-footer {
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 10px 0;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: rgb(150, 150, 248);
  padding-left: 10px;
}

.footer-col .medias-socias {
  margin-top: 30px;
}

.footer-col .medias-socias a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
  font-size: 20px;
}

.footer-col .medias-socias a:hover {
  color: #415aca;
  background-color: white;
}

/* Fim footer */



@media (max-width: 992px) { 
  .img_responsive {
    width: 100%;
  }
 }


 @media (max-width: 768px) { 
  .img_responsive {
    width: 100%;
  }
  }


@media (max-width: 600px) {

  /* Menu haburgue */
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: black;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: white
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  /* Fim menu haburgue */


  /* Corpo do site(boas-vindas) */
  .space {
    padding: 30px;
  }

  .h1 {
    margin: 15px;
    color: black;
    text-align: left;
  }

  .text {
    text-align: left;
    color: #7B7B7B;
    font-size: larger;
  }

  /* Fim corpo do site(boas-vindas) */



  /* NOTICIAS */
  .spacenoticias {
    padding: 10px;
  }

  .h1noticias {
    color: black;
    text-align: left;
  }

  .txtnoticias {
    color: #7B7B7B;
    text-align: left;
  }

  li {
    text-align: left;
    color: #7B7B7B;
  }

  /* FIM NOTICIAS */



  /* IMAGENS  */
  .img_responsive {
    width: 100%;
    text-align: center;
  }
  /*  FIM IMAGENS */




  /* Footer */
  footer {
    background-color: #415aca;
    padding: 50px 0;
  }

  .container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
  }

  .row-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
  }

  .footer-col ul {
    list-style: none;
  }

  .footer-col ul li {
    margin: 10px 0;
  }

  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover {
    color: rgb(150, 150, 248);
    padding-left: 10px;
  }

  .footer-col .medias-socias {
    margin-top: 30px;
  }

  .footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
  }

  .footer-col .medias-socias a i {
    font-size: 20px;
  }

  .footer-col .medias-socias a:hover {
    color: #415aca;
    background-color: white;
  }

  /* Fim footer */

}